<div class="container">
  <div class="col-md-12">
    <%= custom_form_for(@user, url: user_session_path , html:{class: "form-signin"}, method: "post") do |f|%>
      <div class="col-md-12">
        <h2 class="form-signin-heading">爱客点餐系统</h2>
      </div>

      <%=f.text_field :phone, class:"form-control", placeholder:"手机号", required: "required"%>
      <%=f.password_field :password, class:"form-control", placeholder:"密码", required: "required"%>

      <div class="col-md-6">
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="login">登录</button>
      </div>
      （密码默认111111）
    <%end %>
  </div>
</div>

<script>
  <%= content_for :js_in_footer do%>
    <%= javascript_tag do %>
      $("#login").on("click", function(e){
        e.preventDefault(); // 移除掉原生的submit处理
        var _form = $("form")
        var url =  $(_form).parent().attr("action")
        var submit = $(_form).find("[type=submit]")
        if(!$(_form).valid()){
          return;
        }
        submit.attr("disabled", true) //防止重复提交

        $.ajax({
          url: url,
          type: "post",
          data: {'user[password]': $("#user_password").val() , 'user[phone]': $("#user_phone").val()},
          dataType: "json",
          success: function(data){
            if(data.code == 0){
              handleMessage("登录成功!")
              location.href = data.url
            }else{
              handleMessage(data.msg)
            }
          },
          error: function(){
            handleMessage("请求失败!")
          },
          complete: function(){
            submit.removeAttr("disabled")
          }
        })
      });
    <%end%>
  <%end%>
</script>
