<nav class="navbar navbar-fixed-top navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"><%= image_tag "/favicon.ico"%></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">订餐系统</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="<%= nav_bar_active("orders", "index") %>" ><%=link_to '订单首页', orders_path ,class: 'all_orders' %></li>
        <li class="<%= nav_bar_active("orders", "new") %>" ><%=link_to '我要订饭', new_order_path ,class: 'my_orders' %></li>
        <li class="<%= nav_bar_active("rankings") %>" >
          <%=link_to  rankings_path ,class: 'my_orders' do%>
            <%= image_tag("new.gif") %>排行榜
          <%end %>
        </li>
        <% if current_user.admin? %>
          <li class="<%= nav_bar_active("meals") %>" > <%=link_to '管理饭菜', meals_path  %></li>
          <li class="<%= nav_bar_active("users") %>" > <%=link_to '所有成员', users_path  %></li>
          <li class="<%= nav_bar_active("operation_logs") %>" > <%=link_to '操作日志', operation_logs_path  %></li>
        <%end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <%= image_tag("new.gif") %>
            <%=current_user.username%><span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%=link_to '我的信息', user_path(current_user) ,class: 'my_orders' %></li>
            <li><%=link_to '退出', sign_out_users_path, method: :delete  %></li>

          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="margin-t-50">
  <% if controller_name == "orders" %>
    <% types, msg = body_head_msg[:types], body_head_msg[:msg] %>

    <div class="alert alert-<%= types %>" role="alert">
      <a href="#" class="close" data-dismiss="alert">×</a>
      <strong><%= msg %></strong>
    </div>

    <span class="color-red notification">公告： 系统升级啦, 快去修改你的密码吧！ <a href="http://gitlab.ikcrm.com/wangp/ordering">进入git仓库</a></span>

    <% if current_order_time.present? %>
      <div id='time'>
        <SCRIPT>
          <% t_i =  current_order_time.to_f %>
          document.getElementById('time').innerHTML = get_now_time("<%= t_i %>")
          setInterval("document.getElementById('time').innerHTML = get_now_time('<%= t_i %>');", 1000);
        </SCRIPT>
      </div>
    <%end %>

    <br>
  <%end %>
</div>
