<div style="position:absolute;">
    <span style="color: darkgreen">当前饭店: << <%= @meal.try(:name).to_s %> >></span>
</div>
<br>
<% @talks.each do |m|%>
  <%
     next unless m.user
     str = m.content
     if str.split("&")[0] == "img"
       str = raw "<img src='#{str.split("&")[1]}' class='maxw-120 maxh-40'>"
     end
  %>
  <div style="<%= current_user == m.user ? "text-align: right;": "" %>">
    <span class='<%= current_user == m.user  ? "current_user": "other_user" %>' >
      <%= m.user.username %>
      <span style="background:bisque;color: cornflowerblue;"><%= m.user.designation %> </span>(<%= (m.created_at+8*3600).strftime("%m-%d %H:%M") %>):
    </span>
    <div>
      <span class="<%= "admin_content" if m.user.admin? %>" <%= 'data-toggle=popover_image' if(m.content.split("&")[0] == "img") %> >
        <%= str %>
      </span>
    </div>
  </div>
<%end  %>