<table border="1" width="400">
  <tr>
    <td>菜名</td><td>单价</td><td>操作</td>
  </tr>
  <%  @meal_types.each do |meal_type|%>
    <tr>
      <td colspan="4">
        <font color="red"><%=meal_type.name%>系列</font>
        <span class = 'add_meals_type'></span>
      </td>
    </tr>
    <% meal_type.meals.each do |meal| %>
      <tr>
          <td><%=meal.name%><%= '+米饭' if meal.mtype=='炒菜'%></td>
          <td><%=meal.price%>元</td>
          <td><%=link_to '删除', meal_path(meal), method: :DELETE, 'data-confirm'=>'是否删除？'%></td>
      </tr>
    <%end%>
  <%end%>
</table>
<div id="new_meal_type" class = 'new_meal'>
  <h3>新增菜品</h3>
  <%= form_for Meal.new,html:{class:""} do|f| %>
    <ul>
      <li>
        类型：<%=f.select :mtype, @meal_types.map{|a| [a.name, a.id]} %>
      </li>
      <li>
        菜名：<%=f.text_field :name %>
      </li>
      <li>
        单价：<%=f.text_field :price %>
      </li>
      <li>
        <%=f.submit '新增' %>
      </li>
    </ul>
  <%end  %>
</div>